@charset "UTF-8";

#main-content{
    border: 1px solid #000;
    padding:0px!important

}



#deptree{
    height: 100%;
    padding-top: 30px ;
    padding-left: 20px ;
    /*padding:0px!important*/
}

/*ztree表格*/
.ztree1 {
    padding: 0;
    border: 2px solid #CDD6D5;
}

.ztree1 li a {
    vertical-align: middle;
}

.ztree1 li > a {
    width: 100%;
}

.ztree1 li > a,
.ztree1 li a.curSelectedNode {
    padding-top: 0px;
    height: auto;
    border: none;
    cursor: default;
    opacity: 1;
}

.ztree1 li ul {
    padding-left: 0px
}

.ztree1 div.diy span {
    line-height: 30px;
    vertical-align: middle;
}

.ztree1 div.diy {
    height: 100%;
    width: 100%;
    line-height: 30px;
    border-top: 1px dotted #ccc;
    border-left: 1px solid #eeeeee;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    color: #555;
    font-family: "SimSun";
    font-size: 12px;
    overflow:auto;
}

.ztree1 div.diy:first-child {
    text-align: left;
    text-indent: 10px;
    border-left: none;
}

.ztree1 .head {
    background: #fff;
}

.ztree1 .head div.diy {
    border-top: none;
    border-right: 1px solid #ddd;
    color: #000;
    font-bold:1200;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}

/*end--ztree表格*/
