<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp">
	<div class="input-group" style="margin-left:0.5%">
		<input type="hidden">
		<div class="input-group-btn">
			<button class="btn btn-default" @click="add"><i class="fa fa-plus" style="color:#007bb6;"></i>&nbsp;新增</button>
			<button type="button"  class="btn btn-default" @click="update"><i class="fa fa-pencil" style="color: #00a157;"></i>&nbsp;修改</button>
			<button type="button" class="btn btn-default" @click="del"><i class="fa fa-trash" style="color: red;"></i>&nbsp;删除</button>
		</div>
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
	<!-- 添加模态框（Modal） -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{modaltitle}}</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-2 control-label"><span style="color:red;">*</span>年份</div>
							<div class="col-sm-10">
								<input type="number" class="form-control" v-model="month.yName" placeholder="年份"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label"><span style="color:red;">*</span>月份</div>
							<div class="col-sm-10">
								<input type="number" class="form-control" v-model="month.mName" placeholder="月份"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label"><span style="color:red;">*</span>开始时间:</div>
							<div class="col-sm-10">
								<input type="text"  class="form-control" id="bgTime"  placeholder="开始时间"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label"><span style="color:red;">*</span>结束时间</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="endTime"  placeholder="结束时间"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"  @click="saveOrUpdate">确定</button>
					<input type="button" class="btn btn-warning"  data-dismiss="modal" value="取消"/>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
</div>
<script src="${rc.contextPath}/js/sys/month.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/statics/plugins/layui/layui.js?_${date.systemTime}"></script>
<script>
	layui.use('laydate', function() {
		var laydate = layui.laydate;

		//执行一个laydate实例
		//执行一个laydate实例
		laydate.render({
			elem: '#bgTime',//指定元素
			eventElem: '#dbgTime-1',
			event: 'click',
			type: 'date',
		});
		laydate.render({
			elem: '#endTime',//指定元素
			eventElem: '#dendTime-1',
			event: 'click',
			type: 'date',
		});
	});
</script>
</body>
</html>