@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff2') format('woff2'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 24px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #ffff;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 3rem;
    background-image: url(../images/bg1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 0.3rem;
    position: relative;
}
.header .switch_role {
    position: absolute;
    top: 0.19rem;
    left: 0.36rem;
    width: 1.5rem;
    height: 0.4rem;
    background: rgb(58, 198, 210);
    color: #fff;
    font-size: 0.24rem;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.4rem;
    text-decoration: none;
    display: block;
}
.header .switch_role > span {
    display: block;
    transform: scale(0.9);
    color: rgb(230, 248, 248);
}
.header .user_icon {
    display: block;
    width: 1.64rem;
    height: 1.64rem;
    background: gray;
    position: absolute;
    top: 0.41rem;
    left: 50%;
    margin-left: -0.82rem;
    border-radius: 100%;
}
.user_icon img {
    width: 100%;
    height: 100%;
}
.header .nickname {
    position: absolute;
    top: 2.33rem;
    width: 100%;
    font-size: 0.24rem;
    color: rgb(231, 249, 249);
    text-align: center;
    letter-spacing: 0.02rem;
}
.contaniner {
    flex: 1;
    width: 100%;
    overflow: auto;
}
.contaniner .warn_icon {
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    margin: 0 auto;
    margin-top: 0.52rem;
}
.contaniner .authentication_title {
    font-size: 0.28rem;
    color: rgb(43, 43, 43);
    text-align: center;
    padding-top: 0.3rem;
}
.contaniner .authentication_button {
    display: block;
    text-decoration: none;
    height: 0.8rem;
    width: 3rem;
    line-height: 0.8rem;
    color: rgb(38, 205, 218);
    font-size: 0.35rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-top: 1.05rem;
    border: 0.02rem solid rgb(38, 205, 218);
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding-bottom: 0;
    margin-bottom: 0;
}
.contaniner .authentication_tips {
    display: block;
    margin-top: 0.23rem;
    text-align: center;
    width: 100%;
    font-size: 0.24rem;
    color: rgb(188, 188, 188);
    font-weight: 300;
    letter-spacing: 0.01rem;
}
.contaniner .conact_button {
    width: 7rem;
    height: 0.9rem;
    border: 0.02rem solid rgb(238, 238, 238);
    border-radius: 0.4rem;
    margin: 0 auto;
    margin-top: 0.65rem;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0.38rem;
    position: relative;
}

.contaniner .conact_img {
    width: 0.49rem;
    height: 0.49rem;
}
.contaniner .text {
    font-size: 13px;
    padding-left: 0.1rem;
    line-height: 0.49rem;
    color: rgb(41, 41, 41);
    letter-spacing: 0.01rem;
}
.icon-arrow_right {
    display: block;
    width: 0.49rem;
    height: 0.49rem;
    font-size: 0.49rem;
    color: rgb(173, 172, 172);
    position: absolute;
    right: 0.23rem;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.06rem;
    border-top: 0.02rem solid rgb(244, 244, 244);
    background: #fff;
    display: flex;
    flex-direction: row;
}

.footer .item {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding-top: 0.13rem;
    color: rgb(43, 43, 43);
}
.footer .item .icon {
    font-size: 0.43rem;
    display: block;
}
.icon_title {
    padding-top: 0.1rem;
    font-size: 0.24rem;
    transform: scale(0.85);
}
.icon_active {
    color: #47ddeb;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?lclsmo');
    src:  url('fonts/icomoon.eot?lclsmo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lclsmo') format('truetype'),
    url('fonts/icomoon.woff?lclsmo') format('woff'),
    url('fonts/icomoon.svg?lclsmo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
    content: "\e909";
}
.icon-arrow_right:before {
    content: "\e905";
}
.icon-trucks:before {
    content: "\e906";
}
.icon-user-o2:before {
    content: "\e907";
}
.icon-users:before {
    content: "\e908";
}
.icon-home:before {
    content: "\e900";
}
.icon-menu:before {
    content: "\e901";
}
.icon-truck:before {
    content: "\e902";
}
.icon-user-o:before {
    content: "\e903";
}
.icon-user:before {
    content: "\e904";
}

/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
ul {
    list-style: none;
}
button, input, select, textarea {
    margin: 0;
}
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}
img, embed, object, audio, video {
    height: auto;
    max-width: 100%;
}
iframe {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
    text-align: left;
}

/* 通用样式*/
.scale-1px-top {
    /* border-bottom: 1px solid rgb(229, 229, 229); */
    /* box-shadow: inset 0px -1px 1px -1px #c8c7cc; */
    border:none;
    position:relative;
}
.scale-1px-top:before{
    content: '';
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    width: 200%;
    height: 1px;
    border-top: 1px solid #E7E7E7;
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.scale-1px-bottom {
    /* border-bottom: 1px solid rgb(229, 229, 229); */
    /* box-shadow: inset 0px -1px 1px -1px #c8c7cc; */
    border:none;
    position:relative;
}
.scale-1px-bottom:before{
    content: '';
    position: absolute;
    display:block;
    bottom: -1px;
    left: 0;
    width: 200%;
    height: 1px;
    border-bottom: 1px solid #ccc;
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.borderRadius-1px {
    /* border-bottom: 1px solid rgb(229, 229, 229); */
    /* 圆角(伪类和本体类都需要加border-radius) */
    border-radius:.16rem;
    border:none;
    position:relative;
}
.borderRadius-1px:after{
    /* 圆角(伪类和本体类都需要加border-radius) */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d1d1d1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius:.16rem;
}
html{
    font-size:50px!important;
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
}
/*popup css*/
#weui-actionsheet{
    width: 93.33%;
    position: absolute;
    left: 0;
    bottom: 0.61rem;
    right:0;
    margin: auto;
    background:transparent;
}
#weui-actionsheet>.weui-actionsheet__menu,#weui-actionsheet>.weui-actionsheet__action{
    border-radius:0.2rem;
}
/*city-picker*/
.weui-picker-modal{
    height:4.5rem!important;
}
.picker-modal-inner{
    height:4rem!important;
    overflow: hidden;
    transform: translateY(-1rem);

}
.weui-picker-container .toolbar{
    opacity: 1;
    z-index: 9
}
.toolbar .picker-button {
    color:#fb8638!important;
}
.weui-picker-container.weui-picker-container-visible .picker-button,.weui-picker-container.weui-picker-container-visible .title{
    height:0.8rem!important;
    line-height: 0.8rem;
    font-size: 0.24rem;
}
.weui-picker-container .picker-items{
    font-size: 0.24rem;
    text-align: left!important;
    padding-left: 1rem!important;
}
.weui-picker-container .toolbar-inner{
    height:0.8rem;
}
@media screen and (min-width:320px) and (max-width:359px) and (orientation:portrait) {
    html { font-size: 42.66px!important; }
}
@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
    html { font-size: 48px!important; }
}
@media screen and (min-width:375px) and (max-width:383px) and (orientation:portrait) {
    html { font-size: 50px!important; }
}
@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
    html { font-size: 51.2px!important; }
}
@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
    html { font-size: 53.33px!important; }
}
@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait){
    html { font-size: 55.2px!important; }
}
@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait){
    html { font-size: 57.6px!important; }
}
@media screen and (min-width:480px) and (max-width:779px) and (orientation:portrait){
    html { font-size: 60px!important; }
}
@media screen and (min-width:780px) and (max-width:830px) and (orientation:portrait){
    html { font-size: 65px!important; }
}
@media screen and (min-width:832px) and (max-width:997px) and (orientation:portrait){
    html { font-size: 70px!important; }
}
@media screen and (min-width:998px) and (max-width:1023px) and (orientation:portrait){
    html { font-size: 75px!important; }
}
@media screen and (min-width:1024px) and (max-width:1152px) and (orientation:portrait){
    html { font-size: 80px!important; }
}
@media screen and (min-width:1153px){
    html { font-size: 85px!important; }
}
